<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Book Shelf</title>
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/thirdParty/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="js/thirdParty/jquery-ui.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp">
     <div class="header">
      <div class="container">
        <h1>Book Shelf</h1>
      </div>
    </div>
    <div class="main" ng-controller='mainController'>
      <div class="container">
        <h1> {{title}} </h1>
        <div class="col-md-6" ng-repeat="product in products">
          <div class="thumbnail">
            <img ng-src="{{product.cover}}">
            <p class="title">{{product.name | uppercase}} </p>
            <p class="price">{{product.price | currency}} </p>
            <p class="date">{{product.pubDate | date}} </p>
            <div class="rating"> 
              <p class="likes" ng-click="plusOne($index)"><span></span>{{product.likes}}</p> 
              <p class="dislikes" ng-click="minusOne($index)"><span></span> {{product.dislikes}}</p> 
            </div>
            <div class="lnd"></div> 
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <h2>Available for iPhone and Android.</h2>
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
        <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
      </div>
    </div>
  </div>	
  <script src="js/app.js"></script>
  <script src="js/controllers/MainController.js"></script>
</body>
</html>